// رنگ‌های پایه
$white: #ffffff; // سفید خالص
$light-gray: #f2f2f2; // خاکستری روشن
$dark-gray: #282828; // خاکستری تیره
$pale-gray: #f8f8f8; // خاکستری خیلی روشن
$hot-pink: #f21055; // صورتی پررنگ
$sky-blue: #0c8ce9; // آبی روشن
$black: #1e1e1e; // مشکی تیره
$light-shadow: 0px 0px 4px 0px#0000001A; // سایه تیره
$dark-shadow: 0px 0px 4px 0px#f8f8f8; // سایه روشن

$themes: (
  light: (
    scrollbar: $hot-pink,
    bg: $white,
    text: $black,
    input-bg: $pale-gray,
    input-text: $dark-gray,
    btn-bg: $hot-pink,
    btn-text: $white,
    link: $sky-blue,
    shadow: $dark-shadow,
    th-bg: $light-gray,
  ),
  dark: (
    scrollbar: $light-gray,
    bg: $black,
    text: $white,
    input-bg: $pale-gray,
    input-text: $dark-gray,
    btn-bg: $hot-pink,
    btn-text: $white,
    link: $sky-blue,
    shadow: $light-shadow,
    th-bg: $hot-pink,
  ),
);
