@use "@/sass/variables" as vars;
@use "@/sass/mixins" as mixins;
@use "sass:map";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  text-decoration: none;
}

main {
  max-width: 100vw;
  min-height: 100vh;
  @include mixins.flex(column, center, center);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

.theme-light {
  background-color: map.get(map.get(vars.$themes, light), bg);
  color: map.get(map.get(vars.$themes, light), text);

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: map.get(map.get(vars.$themes, light), scrollbar);
  }

  input {
    background-color: map.get(map.get(vars.$themes, light), input-bg);
    color: map.get(map.get(vars.$themes, light), input-text);
  }

  textarea {
    background-color: map.get(map.get(vars.$themes, light), input-bg);
    color: map.get(map.get(vars.$themes, light), input-text);
  }

  button {
    background-color: map.get(map.get(vars.$themes, light), btn-bg);
    color: map.get(map.get(vars.$themes, light), btn-text);
  }

  a {
    color: map.get(map.get(vars.$themes, light), link);
  }

  .card {
    box-shadow: map.get(map.get(vars.$themes, dark), shadow);
  }

  th {
    background-color: map.get(map.get(vars.$themes, light), th-bg);
  }
}

.theme-dark {
  background-color: map.get(map.get(vars.$themes, dark), bg);
  color: map.get(map.get(vars.$themes, dark), text);

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: map.get(map.get(vars.$themes, dark), scrollbar);
  }

  input {
    background-color: map.get(map.get(vars.$themes, dark), input-bg);
    color: map.get(map.get(vars.$themes, dark), input-text);
  }

  textarea {
    background-color: map.get(map.get(vars.$themes, dark), input-bg);
    color: map.get(map.get(vars.$themes, dark), input-text);
  }

  button {
    background-color: map.get(map.get(vars.$themes, dark), btn-bg);
    color: map.get(map.get(vars.$themes, dark), btn-text);
  }

  a {
    color: map.get(map.get(vars.$themes, dark), link);
  }

  .card {
    box-shadow: map.get(map.get(vars.$themes, light), shadow);
  }

  th {
    background-color: map.get(map.get(vars.$themes, dark), th-bg);
  }
}
