@use "@/sass/variables" as vars;
@use "@/sass/mixins" as mixins;
@use "sass:map";

main {
  width: 100vw;
  height: 100vh;
  @include mixins.flex(column, center, center);
}

.theme-light {
  background-color: map.get(map.get(vars.$themes, light), bg);
  color: map.get(map.get(vars.$themes, light), text);

  input {
    background-color: map.get(map.get(vars.$themes, light), input-bg);
    color: map.get(map.get(vars.$themes, light), input-text);
  }

  button {
    background-color: map.get(map.get(vars.$themes, light), btn-bg);
    color: map.get(map.get(vars.$themes, light), btn-text);
  }

  a {
    color: map.get(map.get(vars.$themes, light), link);
  }
}

.theme-dark {
  background-color: map.get(map.get(vars.$themes, dark), bg);
  color: map.get(map.get(vars.$themes, dark), text);

  input {
    background-color: map.get(map.get(vars.$themes, dark), input-bg);
    color: map.get(map.get(vars.$themes, dark), input-text);
  }

  button {
    background-color: map.get(map.get(vars.$themes, dark), btn-bg);
    color: map.get(map.get(vars.$themes, dark), btn-text);
  }

  a {
    color: map.get(map.get(vars.$themes, dark), link);
  }
}
