@use "@/sass/mixins" as mixins;

.overlay {
  position: fixed;
  inset: 0;
  background: #00000093;
  @include mixins.flex(row, center, center);
  z-index: 999;
  .modal {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 0 20px #00000033;
    position: relative;
    text-align: center;
    @include mixins.flex(column, center, center);

    h1 {
      margin-bottom: 1.5rem;
      color: #000;
      font-size: 20px;
    }

    .filter-input,
    .filter-select {
      width: 100%;
      padding: 10px;
      margin-bottom: 1rem;
      border-radius: 10px;
      border: 1px solid #ccc;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 24px;
      color: #888;
      cursor: pointer;
      @include mixins.position(absolute, 10px, _, _, 15px);
    }
  }
}
