@use "@/sass/mixins" as mixins;

.container {
  width: 100%;
  height: 100%;
  @include mixins.flex(row, center, center);
  .login {
    width: 460px;
    height: 590px;
    border-radius: 40px;
    border: solid #e4e4e4 1px;
    @include mixins.flex(column, center, center);
    img {
      width: 80px;
      height: 84px;
    }
    h2 {
      margin-top: 20px;
    }
    .inputs {
      width: 400px;
      margin-top: 50px;
      @include mixins.flex(column, center, center);
    }
    .submit_btn {
      width: 400px;
    }
  }
}

@include mixins.media-Query-maxWidth(685px) {
  .container .login {
    width: 80%;
  }
  .container .login .inputs {
    padding: 0 20px;
    width: 100%;
  }
  .container .login .submit_btn {
    padding: 0 20px;
  }
}

@include mixins.media-Query-maxWidth(370px) {
  .container .login {
    width: 95%;
  }
}
