@use "@/sass/mixins" as mixins;

.pagination {
    margin-top: 30px;
    gap: 5px;
    @include mixins.flex(row, center, center);
    button {
        width: 35px;
        height: 35px;
        padding: 5px;
        border: none;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        @include mixins.flex(row, center, center);
        &:hover {
            background-color: #ff5f5f;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}