@use "@/sass/mixins" as mixins;
@use "@/sass/variables" as vars;

.pagination {
    margin-top: 30px;
    gap: 5px;
    @include mixins.flex(row, center, center);
    button {
        width: 35px;
        height: 35px;
        padding: 5px;
        border: none;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        @include mixins.flex(row, center, center);
        &:hover {
            background: #ff8f8f;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    .active {
        background: #ff8f8f;
        font-weight: bold;
    }
}