@use "@/sass/mixins" as mixins;

.table-wrapper {
  max-height: 400px; // هر اندازه‌ای که بخوای
  overflow-y: auto;
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      padding: 10px;
      text-align: center;
    }

    thead th {
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .actions {
      @include mixins.flex(row, center, center);

      img {
        margin: 0 3px;
        cursor: pointer;
      }
    }
  }
}
